data/popular-routes.json linguist-generated=true
data/countries.geo.json linguist-generated=true
data/countries.slim.generated.json linguist-generated=true
data/*.generated.json linguist-generated=true
dist/** linguist-generated=true
